body {
	margin: 0;
	text: #656565;
}

h1 {
	margin: 20px;
}
button {
	margin: 20px;
}

#gameArea {
	border: 1px solid #656565;
	width: 80vw;
	margin: 0 auto;
	height: 80vh;
}


#playerArea {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dealerArea {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}